.bg-navbar-bravo {
    background-color: #cccccc;
    background-image: linear-gradient(#ab830da3, #eaddbb);
}
.navbar-bravo .navbar-brand {
    color: #af870e;
}

.navbar-bravo .navbar-brand:hover, .navbar-bravo .navbar-brand:focus {
    color: #94720a;
}

.navbar-bravo .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-bravo .navbar-nav .nav-link:hover, .navbar-bravo .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.75);
}

.navbar-bravo .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.25);
}

.navbar-bravo .navbar-nav .show > .nav-link,
.navbar-bravo .navbar-nav .active > .nav-link,
.navbar-bravo .navbar-nav .nav-link.show,
.navbar-bravo .navbar-nav .nav-link.active {
    color: #fff;
}

.navbar-bravo .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-bravo .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-bravo .navbar-text {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-bravo .navbar-text a {
    color: #fff;
}

.navbar-bravo .navbar-text a:hover, .navbar-bravo .navbar-text a:focus {
    color: #fff;
}

.navbar-brand>.fa {
    color: #af870e;
}

.content-body {
    background-color: #eaeaea;
    background: url(/images/bk-02.jpg);
}

.breadcrumb-bravo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 1rem;
    margin-bottom: 1rem;
    list-style: none;
    border-radius: 0.25rem;
}

.breadcrumb-item-bravo + .breadcrumb-item-bravo {
    padding-left: 0.5rem;
}

.breadcrumb-item-bravo + .breadcrumb-item-bravo::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #6c757d;
    content: ">";
    font-family: sans-serif;
}

.breadcrumb-item-bravo + .breadcrumb-item-bravo:hover::before {
    text-decoration: none;
}

.breadcrumb-item + .breadcrumb-item:hover::before {
    text-decoration: none;
}

.breadcrumb-item.active {
    color: #6c757d;
}

.breadcrumb-item-bravo a {
    color: #32465a;
}

.breadcrumb-item-bravo a:hover {
    color: #466f98;
}

.original-site {
    color: #bbb6a7;
}